* {
    padding: 0;
    margin: 0;
}

:root {
    --fa-primary: "Open Sans", sans-serif;

    --background-default: #F5F4F0;
    --border-primary: 1px solid #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    font-family: var(--fa-primary);
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

h1, h2, h3 {
    color: var(--text-primary);
}

.headline {
    font-size: 16px;
    font-weight: bold;
    text-transform:uppercase;
    
    color: var(--text-headline);
}

.paragraph, p {
    font-size: 16px;
    color: var(--text-secondary);
}

.subtitle {
    font-size: 16px;
    font-style: italic;
}

body {
    background-color: var(--background-default);
}

#page {
    max-width: 1120px;
    box-sizing: border-box;

    margin: 88px auto 0;
}

header div {
    margin-bottom: 40px;
}

header #title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

header #description {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

header #description p {
    text-align: center;
}

#content {
    border-bottom: var(--border-primary);
    border-top: var(--border-primary);

    margin-bottom: 40px;
}

#content #introduction {
    margin: 64px 0;
}

#content #introduction h2 {
    margin-top: 2px;
    margin-bottom: 8px;
}

#content .card_travel {
    margin-bottom: 48px;
}

#content .card_travel img {
    margin-bottom: 20px;
}

#content .card_travel h3 {
    margin-bottom: 4px;
}

#content .card_travel p {
    margin-bottom: 1rem;
}

#content .card_travel .good_for {
    font-weight: bold;
}

#content .card_travel .good_for ul {
    margin-left: 1.5rem;
}

#content .card_travel .good_for ul li::marker {
    color: var(--text-secondary);
}

#conclusion {
    text-align: center;
}

footer {
    margin: 65px auto 48px;

    text-align: center;
}

.cover_image {
    width: 100%;
    border-radius: 28px;
}

.history {
    color: var(--accent-blue);
}

.couple {
    color: var(--accent-purple)
}

.family {
    color: var(--accent-pink);
}

.cheap {
    color: var(--accent-orange);
}